@font-face {
    font-family: "FrederickatheGreat";
    src: url(../fonts/FrederickatheGreat-Regular.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Gabelisa";
    src: url(../fonts/GabelisaFontbyKeithzo.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    /* border: 1px solid; */
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.card {
    /* border: 1px solid; */
    text-align: center;
}

.card h4 {
    font-size: 21px;
    line-height: 38px;
    text-transform: uppercase;
    /* color: #000000; */
    font-weight: 700;

}

.card p {
    width: 367px;
    height: 51px;
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
}

.card-image {
    height: 300px;
}

.card-image img {
    height: inherit;
    object-fit: contain;
}

.bg-strip {
    position: absolute;
    background-color: #ffe001;
    width: 100%;
    height: 200px;
    z-index: -1;
}

.bg {
    background-color: #ffe001;
    /* height: 100vh; */
    height: 850px;
    font-family: "FrederickatheGreat";
    position: absolute;
    width: 100%;
    z-index: -1;
}

.clippath {
    background-color: #ebe9ac;
    /* height: 100vh; */
    height: 850px;
    clip-path: polygon(78% 0, 127% 0, 100% 100%, 65% 100%);
}

.container {
    width: 1260px;
    margin: 0 auto;
    /* border: 1px solid; */
}

.row {
    display: flex;
}

.col-33 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.align-center {
    align-items: center;
}

.ml-a {
    margin-left: auto;
}

.m-0-a {
    margin: 0 auto;
}

.my {
    margin-top: .5em;
    margin-bottom: .5em;
}

.py {
    margin-top: .5em;
    margin-bottom: .5em;
}

.posi-rele {
    position: relative;
}

.posi-ab {
    position: absolute;
}


.r-side-contact {
    width: 200px;
    /* line-height: 21px; */
    text-transform: uppercase;
    font-weight: 900;
    font-family: "Montserrat";
    text-align: right;
    font-size: 22px;
}

.express-span {
    display: inline-block;
    /* font-weight: 300; */
    width: 200px;
    font-size: 12px;
}

/* .navbar{
    display: flex;
} */
.navbar li+li::before {
    /* border-left: 1px solid; */
    content: " ";
    position: absolute;
    height: 20px;
    width: 3px;
    top: 25%;
    background-color: #000000;
}

.navbar li {
    display: inline-block;
    /* padding: 30px; */
}

.navbar li:hover {
    background-color: white;
}

.navbar li a {
    display: inline-block;
    padding: 30px;
    letter-spacing: 3px;
    color: #000000;
    font-weight: 900;
}

.r-u-hngry {
    width: 560px;
    text-align: center;
}

.r-u-hngry img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.r-u-hngry span {
    font-size: 58px;
    font-family: "Gabelisa";
}

.r-u-hngry p {
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Montserrat";
}

.r-u-hngry h3 {
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "FrederickatheGreat";
}

.header-img-sec {
    width: 700px;
}

.tomato {
    bottom: 100px;
    right: -50px;
}

.pasta {
    right: -130px;
}

.leaf-r {
    bottom: 50px;
    right: -120%;
}

.spaghetti {
    /* bottom: -250px; */
    left: -21%;
    top: -60%;
    width: auto !important;
    height: auto !important;
}

.fredericka-font {
    font-family: "FrederickatheGreat" !important;
}

.calculate {
    font-size: 57px;
    /* text-transform: uppercase; */
    font-weight: 400;
}

.ma {
    width: fit-content;
    margin: 0 auto;
}

.align-center {
    align-items: center;
}

.w-150 {
    width: 150px;
}

.happy-hrs {
    font-size: 19px !important;
    text-transform: uppercase;
    font-weight: 400;
}

.btn {
    font-size: 17px;
    /* line-height: 38px; */
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid;
    color: #000000;
    /* font-weight: bold; */
    background-color: #ffe001;
}

.choose-bg {
    position: relative;

}

.choose-bg::before {
    content: "";
    position: absolute;
    /* background-color: #ffe001; */
    /* width: 1440px; */
    /* height: 139px; */
    background-color: #e8e6a9;
    width: 100%;
    height: 100px;
    z-index: -1;
    top: 42%;
}

.choose-enjoy {
    margin-top: 40px;
    /* border: 1px solid; */
    text-align: center;
    /* align-items: center; */
}

.choose-enjoy h2 {
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 38px;
    text-transform: uppercase;
    /* color: #000000; */
    font-weight: 400;
    font-family: "FrederickatheGreat";

}

.choose-enjoy p {
    width: 1082px;
    height: 56px;
    font-size: 17px;
    line-height: 29px;
    color: #000000;
    font-weight: 400;
    font-family: "Montserrat";
    margin: 0 auto;
    /* text-align: center; */
}

.main_content {
    text-align: center;
    margin-top: 60px;
}

.main_content h4 {
    font-size: 21px;
    letter-spacing: 1px;
    line-height: 46px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Montserrat";
}

.main_content h2 {
    font-size: 42px;
    line-height: 46px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "FrederickatheGreat";
}

.main_content p {
    width: 1100px;
    /* height: 60px; */
    font-size: 17px;
    line-height: 25px;
    font-weight: 400;
    font-family: "Montserrat";
}

.h {
    height: 200px;
    /* width: 33.33%; */
}



.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.one {
    grid-column: 1;
    grid-row: 1/3;
}

.res_content {
    text-align: center;
}

.res_content h4 {
    font-size: 21px;
    letter-spacing: 1px;
    line-height: 46px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Montserrat";
}

.res_content h2 {
    margin-bottom: 40px;
    font-size: 50px;
    letter-spacing: 3px;
    line-height: 46px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "FrederickatheGreat";
}

.table {
    width: 60%;
    margin: 0 auto;
    /* border: 1px solid; */
    border-spacing: 20px;

    /* border-collapse: collapse; */
}

tr {}

td {
    /* display: inline-block; */
    width: 379px;
    height: 65px;
    border-radius: 5px;
    text-align: left;
    margin: 10px;
    padding: 10px;
    border: 1px solid;

}

.yellow {
    color: #000000;
    font-weight: 900;
    background-color: #ffe001;
    text-transform: uppercase;
    text-align: center;
}

.m_tb {
    margin: 50px 0px;
}

.contact_us {
    background-image: url(../images/BG\ Image.png);
    background-repeat: no-repeat;
    height: 400px;
    /* object-fit: contain; */
}

.logo {
    color: aliceblue;
    background-color: #ffe001;
    margin: 70px 0px 70px 70px;
}

.footer_row {
    display: flex;
    justify-content: space-between;
}

.fa {
    margin: 0px 5px;
    padding: 0px;
}

.row1 span {
    line-height: 35px;
}

.col-2 {
    width: 40%;
}

.col2 span {
    margin: 0px;
    padding: 0px;
}

.dis_f {
    display: flex;
    justify-content: space-between;
}

.pad_0 {
    padding-right: 100px;
}

.color_w {
    color: #ffffff;
}